<a href="/">
{{#if logoUrl}}
<div class="mrs-ham" style="background-image: url( {{logoUrl}} );">
{{/if}}
<h2>{{ unconfName }}</h2>
{{#if logoUrl}}
</div>
{{/if}}
</a>
<h1>{{ session.title }}</h1>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<div class="full-session__key-info">
    <strong>Time:</strong>
    {{ session.time }}
    <strong>| Room:</strong>
    {{ session.room }}
</div>
<p>
<strong>Led by:</strong>
{{#if session.leader1 }}
<a target="_blank" href="https://twitter.com/{{ session.leader1 }}">
    {{ session.leader1 }}
</a>
{{/if}}
{{#if session.leader2 }}
<a target="_blank" href="https://twitter.com/{{ session.leader2 }}">
    , {{ session.leader2 }}
</a>
{{/if}}
{{#if session.leader3 }}
<a target="_blank" href="https://twitter.com/{{ session.leader3 }}">
    , {{ session.leader3 }}
</a>
{{/if}}
{{#if session.leader4 }}
<a target="_blank" href="https://twitter.com/{{ session.leader4 }}">
    , {{ session.leader4 }}
</a>
{{/if}}
</p>

{{#if session.sessionnoteslongurl }}
<p>
<strong>Session notes:</strong>
<a target="_blank" href="{{ session.sessionnoteslongurl }}">{{ session.sessionnoteslongurl }}</a>
</p>
{{/if}}

{{#if session.hashtag }}
<p>
<strong>Hashtag:</strong>
<a target="_blank" href="https://twitter.com/search/{{ encodeURI session.hashtag }}">{{ session.hashtag }}</a>
</p>
{{/if}}