{{#if logoUrl}}
<div class="mrs-ham" style="background-image: url( {{logoUrl}} );">
{{/if}}
<h1>Sessions for {{ unconfName }}</h1>
{{#if logoUrl}}
</div>
{{/if}}
{{#if error}}
    <p>{{error}}</p>
{{/if}}
{{#group sessions by="time"}}
<div class="timeslot">
	<h2 class="timeslot__time">{{ value }}</h2>
    <div class="timeslot__sessions">
        {{#each items}}
            <div class="session">
                <h3 class="session__title">{{title}}</h3>
                <div class="session__info"><strong>Room:</strong> {{room}}</div>
            </div>
        {{/each}}
    </div>
</div>
{{/group}}