{{#if logoUrl}}
<div class="mrs-ham" style="background-image: url( {{logoUrl}} );">
{{/if}}
<h1>Sessions for {{ unconfName }}</h1>
{{#if logoUrl}}
</div>
{{/if}}
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<main>
{{#group sessions by="time"}}
<section class="timeslot">
	<h2 class="timeslot__time" id="{{dashcase value}}">{{ value }}</h2>
    <div class="timeslot__sessions">
        {{#each items}}
            <article class="session">
                <h3 class="session__title">{{title}}</h3>
                <footer class="session__info"><strong>Room:</strong> {{room}} 
                <a class="session__more-info" aria-label="More information about session: {{title}}" href="/sessions/{{encodeURI id}}">More info</a>
                </footer>
            </article>
        {{/each}}
    </div>
</section>
{{/group}}
</main>